<li>
  <%= nav_link_to "Home", send("homepage_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "About", send("about_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Pricing", send("pricing_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "FAQs", send("faq_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Goals", send("manager_goals_path"), class: "nav-link" %>
</li>
