<div class="flex flex-col">
  <div class="flex">
    <%= form.input :name, placeholder: ' ' %>
    <%= form.input :status, placeholder: ' ', as: :select, collection: Goal.statuses.keys.map { |key|
      [I18n.t("enum.statuses.#{key}"), key]
    } %>
  </div>
  <div class="w-full">
    <%= form.input :description, placeholder: ' ', as: :text, input_html: { rows: '3' } %>
  </div>
</div>

<div class="flex justify-between items-center mb-4">
  <h1 class="font-bold text-4xl">Tarefas</h1>
  <div>
    <button data-action="nested-form#add" class="mr-2 items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 cursor-pointer">
     <%= t('views.manager.goals.add_task') %>
    </button>
  </div>
</div>

<template data-nested-form-target="template">
  <%= form.simple_fields_for :tasks, Task.new, child_index: 'NEW_RECORD' do |tasks_form| %>
    <%= render "task_fields", form: tasks_form %>
  <% end %>
</template>

<%= form.simple_fields_for :tasks do |tasks_form| %>
  <%= render "task_fields", form: tasks_form %>
<% end %>

<div data-nested-form-target="target"></div>
