<tr class="border-b dark:border-gray-700" id="<%= dom_id goal %>">
  <td class="px-4 py-3">
    <input type="checkbox" id="<%= convert_to_id(goal) %>-checkbox" data-goals--index-target="checkbox" value="<%= goal.id %>">
  </td>
  <td class="px-4 py-3"> <%= goal.name %></td>
  <td class="px-4 py-3"> <%= goal.description %></td>
  <td class="px-4 py-3"> <%= I18n.t("enum.statuses.#{goal.status}") %></td>
  <td class="px-4 py-3 flex items-center justify-end">
    <button id="<%= convert_to_id(goal) %>-dropdown-button" data-dropdown-toggle="<%= convert_to_id(goal) %>-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
      </svg>
    </button>
    <div id="<%= convert_to_id(goal) %>-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
      <% if action_name != "show" %>
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-imac-27-dropdown-button">
          <li>
            <%= link_to t('views.manager.goals.show'), manager_goal_path(goal), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          </li>
          <li>
            <%= link_to t('views.manager.goals.edit'), edit_manager_goal_path(goal), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          </li>
        </ul>
        <div class="py-1">
          <%= link_to t('views.manager.goals.delete'), manager_goal_path(goal),
                      data: { turbo_method: :delete, turbo_confirm: t('views.manager.goals.delete_confirm') }, class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
        </div>
        <div class="py-1">
          <%= link_to t('views.manager.goals.done'), manager_goals_done_index_path(goal_id: goal), data: { turbo_method: :post },
                      class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
        </div>
      <% end %>
    </div>
  </td>
</tr>