<article id="<%= dom_id goal %>" class="py-6 prose dark:prose-invert">
  <p class="mb-0 font-semibold">
    Name
  </p>
  <p class="my-0">
    <%= goal.name %>
  </p>
  <p class="mb-0 font-semibold">
    Description
  </p>
  <p class="my-0">
    <%= goal.description %>
  </p>

  <p>
    <%= link_to "View Goal", manager_goal_path(goal), class: "underline" %>
  </p>

  <time class="text-slate-600 dark:text-slate-400 text-xs mt-2" datetime="<%= goal.created_at.to_formatted_s(:long) %>">Created <%= time_ago_in_words(goal.created_at) + " ago" %></time>
</article>
