<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="flex flex-col">
    <div class=" flex w-full">
      <%= form.input :name, placeholder: ' ' %>
      <%= form.input :status, placeholder: ' ', as: :select, collection: Task.statuses.keys.map { |key|
        [I18n.t("enum.statuses.#{key}"), key]
      }, input_html: { class: "w-1/2" } %>
    </div>
    <div class="flex w-full">
      <%= form.input :description, placeholder: ' ', as: :text, input_html: { rows: '3' } %>
    </div>
    <div class="flex w-full justify-end">
      <button type="button" data-action="nested-form#remove" class="mr-2 items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 cursor-pointer">
        <%= t('views.manager.goals.remove_task') %>
      </button>
    </div>
    <%= form.hidden_field :_destroy %>
  </div>
</div>