<li>
  <%= nav_link_to "Dashboard", send("admin_dashboard_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Projects", send("admin_projects_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Messages", send("admin_messages_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Assignments", send("admin_assignments_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Calendar", send("admin_calendar_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "People", send("admin_people_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Activity", send("admin_activity_path"), class: "nav-link" %>
</li>
